body {
  background-color: #f8f7f6;
  font-family: monospace;
}

h2 {
  display: flex;
  font-size: 40px !important;
}

p {
  font-size: 16px !important;
}

ul {
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

li {
  margin: 60px 20px;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

i {
  font-size: 80px;
  flex-basis: 23%;
  margin: 10px;
  padding: 10px;
}

/* Navbar syles */

.navbar {
  background-color: #d0e5e6 !important;
}

.navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

.nav-container {
  padding: 5px 40px 0;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  border: none !important;
}

.nav-link {
  padding-right: 35px;
}

.navbar a {
  font-size: 18px;
}

.navbar a:hover {
  color: #ff6200;
  font-weight: bold;
}

/* Hero syles */

.hero {
  height: calc(100vh - 55px);
  width: 100%;
  background-image: url("../Images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0 !important;
}

.heroCopy {
  min-width: 300px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.heroCopy p {
  margin-top: x !important;
  position: absolute;
  color: rgb(0, 0, 0);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffbc92; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite !important;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 44%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent !important;
  }
  50% {
    border-color: #ffbc92 !important;
  }
}

.py-5 {
  padding-top: 7rem !important;
  padding-bottom: 3rem !important;
}

/* Jumbotron/About me syles */

.jumbotron {
  padding: 150px 0 150px;
  background-color: white !important;
}

.jumbotronContainer {
  min-width: 300px;
}

.lead {
  font-size: 14px;
}

.jumbo-content img {
  margin: 1% 5%;
  background-size: cover;
  border-bottom: 5px solid;
  border-color: #ff6200;
  border-radius: 50px 5px;
}

.about-me {
}

.lead img {
  margin: 0 40px 10px 10px;
  float: right;
}

/* Contact me syles */

.devicon-cont-1,
.devicon-cont-2,
.devicon-cont-3 {
  margin: 0;
  padding-left: 0;
  font-size: 60px;
  color: #ff6200;
}

.devicon-cont-1:hover {
  color: #1f2020;
}
.devicon-cont-2:hover {
  color: #1f2020;
}
.devicon-cont-3:hover {
  color: #1f2020;
}

.devi-link-1,
.devi-link-2,
.devi-link-3 {
  padding-left: 0;
}

.contactCopy {
  font-size: 25px;
  font-family: monospace;
  color: black;
  margin-left: 30px;
  border: none;
  text-transform: none;
}

.cont-wrap {
  padding-bottom: 80px !important;
}

/* Work syles */

.work-header {
  padding: 0 12px !important;
  margin-bottom: 40px;
}

.containerWork {
  padding: 0 7.5%;
  margin-top: 150px;
}

.row-work {
  margin-bottom: 20px;
  max-width: 900px;
  max-height: 500px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  border-bottom: 5px solid #ff6200;
  border-left: none;
  border-right: none;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
}

.card img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-radius: 0;
}

.card-body {
  max-height: 200px;
}

.btn {
  background-color: transparent;
  color: black;
  border: 3px solid #1f2020;
}

.btn:hover {
  background-color: transparent;
  border-color: #ff6200;
  color: #ff6200;
  font-weight: bold;
  box-shadow: 0px 3px 10px 0px rgb(156, 148, 148);
}

/* Skills stlyes*/

.skills {
  height: 100%;
  padding: 150px 0 100px;
}

.container-skills {
  margin: 0 8%;
}

.container-icon {
  max-width: 600px;
  margin: 40px auto;
}

.skills-icon {
  padding-bottom: 80px;
  color: #ff6200;
  height: 100%;
  display: flex;
  align-items: center;
}

.skills-icon:hover {
  color: #1f2020;
}

.devicon {
  cursor: pointer;
}

span {
  border-bottom: 5px solid #ff6200;
  margin-bottom: 20px;
}

/* Footer syles */

footer {
  justify-content: center;
  text-align: center;
  color: #ff6200;
  background-color: #d0e5e6;
  padding: 60px 0 20px;
}

.devicon-footer {
  font-size: 40px;
  cursor: pointer;
  color: #ff6200;
}

.devicon-footer:hover {
  color: #1f2020;
}

.footer-copy {
  font-size: 16px;
  color: black;
  padding-top: 60px;
  text-align: center;
}

.foot-col-1 {
  text-align: right;
  padding-right: 0;
}

.foot-col-2 {
  padding: 0 0;
  max-width: 100px;
}

.foot-col-3 {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.foot-col-1,
.foot-col-2,
.foot-col-3 {
  padding: none;
}

@media screen and (max-width: 850px) {
  .heroCopy p {
    display: none;
  }
}
