body {
  background-color: #f8f7f6;
  font-family: monospace;
}

h2 {
  display: flex;
  font-size: 40px !important;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

ul {
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

li {
  margin: 60px 20px;
}

i {
  font-size: 80px;
  flex-basis: 23%;
  margin: 10px;
  padding: 10px;
}

/* Navbar syles */

/* Hero syles */

.hero {
  height: calc(100vh - 55px);
  background-image: url(/Images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.heroCopy {
  min-width: 300px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.py-5 {
  padding-top: 10rem !important;
  padding-bottom: 3rem !important;
}

/* Jumbotron/About me syles */

.jumbotron {
  text-align: left;
  padding: 100px 0;
}

.jumbotronContainer {
  min-width: 300px;
}

.lead {
  font-size: 14px;
}

.jumbo-content img {
  margin: 1% 5%;
  background-size: cover;
  border-bottom: 5px solid;
  border-color: #ff6200;
  border-radius: 50px 5px;
}

/* Work syles */

.containerWork {
  padding: 11px 7.5%;
  margin-bottom: 80px;
}

.row-work {
  margin-bottom: 20px;
}

.card {
  border-bottom: 5px solid #ff6200;
}

.card img {
  max-height: 200px;
}

/* Skills stlyes*/

.skills {
  height: 100%;
  padding: 200px 0 100px;
}

.container-skills {
  margin: 0 8%;
}

.container-icon {
  max-width: 600px;
  margin: 40px auto;
}

.skills-icon {
  padding-bottom: 80px;
  color: #ff6200;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  border-bottom: 5px solid #ff6200;
  margin-bottom: 20px;
}

.skills-icon {
}
